<footer class="bg-light text-lg-start">
    <div class="row p-4" style="font-size: x-small;">
        <div class="col">
            <small>Instituto Politécnico do Porto</small><br>
            <b>Escola Superior de Tecnologia e Gestão</b><br>
            <small class="text-muted"> Rua do Curral, Casa do Curral, Margaride<br>4610-156 Felgueiras - Portugal</small>
        </div>
        <div class="col text-center">
            <b>L</b>icenciatura em <b>E</b>ngenharia <b>I</b>nformática<br>
            <b>S</b>istemas de <b>I</b>nformação <b>O</b>rganizacionais<br>
            <b>2022/2023</b>
        </div>
        <div class="col text-center" style="display: flex; align-items: center; justify-content: center;">
            Grupo 04
        </div>
    </div>
    <div class="row">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <b>WOKYERA</b> © 2023
        </div>
    </div>
</footer>