<div class="header">
    <div class="row">
        <div class="col">
            <div class="d-flex align-items-center">
                <button class="btn btn-primary ml-3" onclick="window.location.href='/dashboard/<%= fiscal_year %>'">
                    <i class="fas fa-chevron-circle-left text-dark fa-2x"></i>
                </button>
                <div style="margin-left: 10%;">
                    <small>wokyera </small>
                    <h2>Dashboard</h2>
                </div>
            </div>
        </div>
    </div>
</div>