<!-- Buttons trigger collapse -->
<a class="btn btn-primary" data-mdb-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
    aria-controls="collapseExample">
    <i class="fas fa-circle-info"></i>
</a>

<!-- Collapsed content -->
<div class="collapse mt-3" id="collapseExample">
    <small class="text-muted">
        <b>Nota:</b> Volume Médio representa o Volume Bruto médio das vendas. O '#' representa o número.
        De todos os valores apenas 'Lucro' não tem IVA incluído.
    </small>
</div>