<!-- Buttons trigger collapse -->
<a class="btn btn-primary" data-mdb-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
    aria-controls="collapseExample">
    <i class="fas fa-circle-info"></i>
</a>

<!-- Collapsed content -->
<div class="collapse mt-3" id="collapseExample">
    <h6 class="mt-3">Legenda</h6>
    <!-- lista de atributos -->
    <ul>
        <li>

            <b>PVP</b> - Preço de Venda ao Público <small class="text-muted">c/ IVA </small>
        </li>
        <li>
            <b>PU</b> - Preço Unitário <small class="text-muted">s/ IVA </small>

        </li>
        <li>
            <b>PC</b> - Preço de Compra <small class="text-muted">s/ IVA </small>
        </li>
    </ul>

    <small class="text-muted">
        <b>Nota:</b> Os preços de compra e venda são apresentados sem IVA, logo o valor do lucro não incluí IVA.
        O valor de Vendas é apresentado com IVA incluído. 
    </small>
</div>